/*
 *
 *   GULL - Angular Bootstrap Admin Template
 *
 *
*/

@import 'perfect-scrollbar/css/perfect-scrollbar.css';
@import '@swimlane/ngx-datatable/index.css';
@import '@swimlane/ngx-datatable/themes/material.css';
@import '@swimlane/ngx-datatable/assets/icons.css';
@import 'ngx-toastr/toastr';
@import "angular-calendar/scss/angular-calendar.scss";
@import 'highlight.js/styles/github.css';
@import "../iconsmind/iconsmind.css";
@import 'variables';

// @import 'themes/lite-blue';
@import 'themes/lite-purple';
@import 'bootstrap/scss/bootstrap.scss';
@import "bootstrap-rtl.scss";
@import 'globals/globals';

#lot-map-container {
  height: 80vh !important;
  //overflow: scroll;
}

#lot-map {
  height: 100%;
  //width: 100%;
  //overflow: scroll;
  g {
    cursor: pointer;
    &:hover {
      .lot-item-shape-available {
        fill: $primary;
      }
      .lot-item-shape-reserved, text {
        cursor: auto;
      }
      .lot-item-shape-unavailable, text {
        cursor: auto;
      }
    }
    .lot-item-shape-available {
      stroke: $success;
    }
    .lot-item-shape-unavailable {
      stroke: $gray-500;
    }
    .lot-item-shape-reserved {
      stroke: $danger;
    }
    polygon {
      fill: transparent;
      stroke-width: 1;
      transition: ease-in-out 300ms;
    }
  }
}

.upload-document-button {
  border: 1px solid $primary !important;
  cursor: pointer;
  transition: ease-in-out 300ms;
  p {
    color: $primary;
  }
  .card-body {
    i {
      color: $primary !important;
    }
  }
  &:hover {
    background-color: $primary;
    color: white;

    .card-body {
      i {
        color: white !important;
      }
    }
    p {
      color: white;
    }
  }
}

.tooltip-custom {
  position: relative;
  display: inline-block;
  .tooltip-custom-content {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    top: -20px;
    z-index: 1;
  }
  &:hover {
    .tooltip-custom-content {
      visibility: visible;
    }
  }
}

.files-and-documents {
  .folder {
    transition: ease-in-out 300ms;
    &:hover {
      cursor: pointer;
      background-color: $primary;
      transition: ease-in-out 300ms;
      .folder-icon {
        color : white !important;
      }
      .folder-text {
        color : white !important;
      }
      .text-muted {
        color : white !important;
      }
      h4 {
        color : white;
      }
      span {
        color : white;
      }
    }
  }
}

.folder-files {
  &:hover {
    transition: ease-in-out 300ms;
    .card {
      transition: ease-in-out 300ms;
      cursor: pointer;
      background-color: $gray-300;
    }
  }
}
